div {
  margin: auto;
  text-align-last: center;
  background-image: linear-gradient(to bottom right, white, yellow);
}

.pychic {
  width: 250 px;
  height: 700 px; 
  position: static;
  text-align:center;
  
}
img { 
  
  align-self: auto;
  margin: 10px; 
}
#p{
  text-align:center;
  
}